
spring:
  profiles:
    active: @activatedProperties@
  application:
    name: gateway-app
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods: "*"
            allowedHeaders: "*"


management.endpoints.web.exposure.include: '*'