.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin-right: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button > a {
  color: white;
}

.Footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
}

.PageChild{
  position: relative;
}

.UserCards{
  margin: 4% 0 0 2%;
}

.ui.fluid.card {
  margin: 1em;
  width: 100%;
  max-width: 9999px;
}
.status{
  text-align: right;
}

iframe{
  width: 100rem;
  height: 35rem;
}

*, ::before, ::after{
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}